{% extends 'layouts/base_nav.html' %}

{% block menu %}
    <li class="bt-lista">
        <a href="/carrinho" class="enlace-menu">
            <div class="bt-menu">
                <i class="fa-solid fa-cart-shopping icon-lista"></i>
                <h5>Carrinho das compras</h5>
            </div>
        </a>
    </li>
    <br>
    <li class="bt-lista">
        <a href="/dados_compra_venda" class="enlace-menu">
            <div class="bt-menu">
                <i class="fa-regular fa-chart-simple icon-lista"></i>
                <h5>Gráficos de Compras</h5>
            </div>
        </a>
    </li>
{% endblock %}