{% extends 'layouts/base.html' %}

{% block conteudo %}

{% from "layouts/macro.html" import render_field %}
    <main class="container p-4">
        <form action="/criar-utilizador", method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="h3-login"><h3 class="display-14 text-center mt-4">Faça log-in ou crie uma conta para ingressar a nossa plataforma</h3></div>

                <div class="tipo-de-login">
                        <a href="/">Iniciar sessão</a>
                        <a href= {{url_for("criar_utilizador")}}>Criar conta</a>
                </div>
                <div class="div-main-login">
                    <div style="background-color:#16C110; text-align:center; border-radius:4px;">
                        {% if mensagem %}
                            <p><b>{{ mensagem }}</b></p>
                        {% endif %}
                    </div>
                    <div class="card col-md-4 offset-md-4 my-auto div-form-criar">
                        <div class="div-user-dropdown">
                            <select name="user-type" id="user-dropdown" class="btn btn-primary dropdown-toggle" required>
                                <option disabled selected value="">Seleccionar...</option>
                                <option name="" value="Cliente">Cliente</option>
                                <option name="" value="Fornecedor">Fornecedor</option>
                            </select>
                        </div>
                        <br>
                        <div class="cliente-login-section">
                            <div>
                                {{ render_field(form_utilizador.nome) }}
                            </div>
                            <div>
                                {{ render_field(form_utilizador.email) }}
                            </div>
                            <div>
                                {{ render_field(form_utilizador.telefone) }}
                            </div>
                            <div>
                                {{ render_field(form_utilizador.endereço) }}
                            </div>
                            <div>
                                {{ render_field(form_utilizador.NIF) }}
                            </div>
                            <div>
                                {{ render_field(form_utilizador.contrasenha) }}
                            </div>
                            <div class="div-button">
                                <button type="submit" class="btn btn-primary">
                                    Criar conta
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </main>

{% endblock %}